{% extends 'base.html' %}
{% block title %}
{{title}}
{% endblock title %}
{% block main %}
<div class="mt-5 container d-flex flex-wrap justify-content-between gap-5">
        {% for article in articles %}
        <div class="card" style="width: 18rem;">
            <img src="{{article.get_photo}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{article.title|truncatewords:4}}</h5>
                <p class="card-text">{{article.description|truncatewords:8}}</p>
                <a style="border-radius:50px;" href="{% url 'detail' article.pk %}" class="btn btn-primary">To'liq korish</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock main %}
