{% extends 'base.html' %}
{% block title %}
{{title}}
{% endblock title %}

{% block main %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class="card p-3 py-4">
                <div class="text-center">
                    <img src="https://i.imgur.com/bDLhJiP.jpg" width="100" class="rounded-circle">
                </div>
                <div class="text-center mt-3">
                    <span class="bg-secondary p-1 px-4 rounded text-white">{{request.user.username}}</span>
                    <h5 class="mt-2 mb-0">{{request.user.last_name}} {{request.user.name}}</h5>
                    <span>Full Stack Developer</span>
                    <div class="px-4 mt-1">
                        <p class="fonts">{{request.user.address}}</p>
                    </div>
                    <ul class="d-flex justify-content-center gap-4">
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-dribbble"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                        <a href=""><i class="fa fa-google"></i></a>
                    </ul>
                    <div class="buttons">
                        <button class="btn btn-outline-primary px-4"><i class="fa fa-envelope"></i> {{request.user.email}}</button>
                        <button class="btn btn-primary px-4 ms-3"><i class="fa fa-phone"></i> +998 99 747 97 27</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}